<h1>Order Confirmation</h1>
<h2>Your Name: <%= @shoe.customer_name%></h2>
<h3>Your Address: <%= @shoe.address%></h3>
<p>Your Shoos</p>
<h3>No. of Shoos: <%= @shoe.quantity%></h3>
<h3>Type of Shoos: <%= @shoe.shoe_type%></h3>
<h3>Shoos size: <%= @shoe.size%></h3>